body {
    text-align: center;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: #eee;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: #eee;
}

